body {
    background-color: #861a1a;
    font-family: "Saira Stencil", sans-serif;
}


.recuadro {
    border: 2px solid rgb(24, 12, 12);
    padding: 20px;
    max-width: 1100px;
    margin: 20px auto;
    height: 75px auto;
    background-color: rgb(24, 12, 12);
    border-radius: 15px;
    color: antiquewhite;
    text-align: center;
    font-weight: 500;
}
.tomate {
    width: 250px;
    height: 300px;
    padding: 20px;
    padding-bottom: 30px;
}
.tomate-container {
    display: flex;
    align-content: center;
    justify-content: center;
    padding-top: -30px;
}
#display {
  font-size: 4rem;
  margin-bottom: 16px;
}

.controls button {
  margin: 0 8px;
  padding: 10px 18px;
  font-size: 1rem;
}
.timer {
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 20px;
    flex-direction: column;
}